{% extends "blog_layout.html" %}

{% block header %}
<!-- Page Header -->
<header class="masthead" style="background-size:contain ! important; background-image:url({{ url_for('static', filename='img/blogpic.png') }})">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <div class="page-heading">
                    <h1>About Me</h1>
                    <span class="subheading">This is what I do.</span>
                </div>
            </div>
        </div>
    </div>
</header>
{% endblock header %}

{% block content %}
<!-- Main Content -->
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
            <p>
                My name is Paul and I'm a San Francisco native. I recently graduated from San Francisco State University
                in May 2019. Me getting into computer science was pure luck. I was previously in an automotive program and
                a friend of mine asked if I wanted to take an intro to programming class with him at the community college.
                The class was fun and I've always been fascinated with technology so, I decided to change my major and not
                look back. Fast forward four years later and here I am now building a blog!
            </p>
        </div>
    </div>
</div>
{% endblock content %}