{% extends "blog_layout.html" %}

{% block header %}
<!-- Page Header -->
<header class="masthead" style="background-image: url({{ url_for('static', filename='img/cyberpunk.jpg') }})">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <div class="site-heading">
                    <h1>The Struggle Is Real</h1>
                    <span class="subheading">My Computer Science Journey</span>
                </div>
            </div>
        </div>
    </div>
</header>
{% endblock header %}

{% block content %}
<!-- Main Content -->
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
            {% for post in posts[::-1] %}
            <div class="post-preview">
                <a href="{{ url_for('post', post_id=post.id) }}">
                    <h2 class="post-title">
                        {{ post.title }}
                    </h2>
                    <h3 class="post-subtitle">
                        {{ post.subtitle }}
                    </h3>
                </a>
                <p class="post-meta">
                  Posted by <a href="{{ url_for('profile', username=post.author.username) }}">{{ post.author.username }}</a> on {{ post.date_posted.strftime('%B %d, %Y') }}
                </p>
            </div>
            {% endfor %}

            <div class="post-preview">
                <a href="{{ url_for('first_post') }}">
                    <h2 class="post-title">
                        Entry level job description: "Must know everything!"
                    </h2>
                    <h3 class="post-subtitle">
                        Building projects is the best way to learn everything
                    </h3>
                </a>
                <p class="post-meta">
                    Posted by
                    <a href="{{ url_for('index') }}">Paul Ancajima</a>
                    on July 15, 2019
                </p>
            </div>

            <hr>
            <!-- Pager -->
            <div class="clearfix">
                <a class="btn btn-primary float-right" href="#">Older Posts &rarr;</a>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
