{% extends "blog_layout.html" %}


{% block header %}
<!-- Page Header -->
<header class="masthead" style="background-image: url( {{ url_for('static', filename='img/lightbulb.jpeg') }} )">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <div class="post-heading">
                    <h1>Job description: <br>Must know <i>everything.</i></h1>
                    <h2 class="subheading">Building projects is the best way to learn <i>everything</i></h2>
                    <span class="meta">Posted by
              <a href="#">Paul Ancajima</a>
              on July 15, 2019</span>
                </div>
            </div>
        </div>
    </div>
</header>
{% endblock header %}

{% block content %}
<!-- Post Content -->
<article>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <p>The title says it all, software employers nowadays need to programmers to have enough knowledge to
                    hit the floor running. That's fine but, where does that put new grads that just began their journey?
                    I recently graduated from San Francisco State University with a Bachelors in Computer Science. You
                    would think there would be jobs lined up out the door for someone with a CS degree in San Francisco,
                    wrong. Competition is fierce and people from around the world are coming to the bay area for tech
                    jobs and they are typically coming with experience. I wouldn't recommend coming to the most
                    expensive place to live in the U.S. without a game plan.
                </p>

                <h2 class="section-heading">Learning Never Stops</h2>

                <p>
                    Back to my current situation. After a month of applying to 40 different job postings I landed a
                    whopping
                    2 interviews. The first interview went very well typical coding interview with a whiteboard test
                    but,
                    the second interview is the reason I'm building this site. My university didn't have many courses on
                    web
                    development. The emphasis was so small, it caused my software engineering professor to raise hell
                    and had additional courses created as prerequisites. That was one of my favorite classes by the way.
                    Within a summer session, I had to learn Ruby, Ruby on Rails, MySQL, and GitHub (with a team) but,
                    I also learned a lot about myself. I've come to realize that I grow the most under pressure
                    and become extremely resourceful. Diving in head first and coming out successful has absolutely
                    boosted
                    my confidence and determination.
                </p>
                <p>
                    Since graduating I decided to start setting daily goals whether it's to complete a couple of
                    LeetCode challenges, work on my blog, or anything else. Today's goal is to remove the filler text
                    that came with this BootStrap template and write something significant. If you've been clicking
                    around you can
                    tell most of my site is not ready for launch but hey, <i>this is a learning experience</i>. My blog
                    site is
                    slowly progressing and if for some reason you're back even after witnessing the chaotic mess that I
                    call my blog site, from the bottom of my heart I just want to thank you. Hopefully, I'll have a
                    working comment section soon so, I can read any kind of feedback.
                </p>

                <blockquote class="blockquote">Life is about how much you can take and keep fighting, how much you can
                    suffer and keep moving forward.
                    <br>
                    <div style="text-align:right">- Anderson Silva</div>
                </blockquote>
            </div>
        </div>
    </div>
</article>


{% if current_user.is_authenticated %}

<!-- Comments Form -->
<div class="comment-section">

    <div class="card my-4">
        <h5 class="card-header">Leave a Comment:</h5>
        <div class="card-body">
            <form>
                <div class="form-group">
                    <textarea class="form-control" rows="3"></textarea>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>

    <!-- Single Comment -->
    <div class="media mb-4">
        <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/50x50" alt="">
        <div class="media-body">
            <h5 class="mt-0">Commenter Name</h5>
            Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio,
            vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec
            lacinia congue felis in faucibus.
        </div>
    </div>

    <!-- Comment with nested comments -->
    <div class="media mb-4">
        <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/50x50" alt="">
        <div class="media-body">
            <h5 class="mt-0">Commenter Name</h5>
            Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio,
            vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec
            lacinia congue felis in faucibus.

            <div class="media mt-4">
                <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/50x50" alt="">
                <div class="media-body">
                    <h5 class="mt-0">Commenter Name</h5>
                    Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras
                    purus
                    odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate
                    fringilla. Donec lacinia congue felis in faucibus.
                </div>
            </div>

            <div class="media mt-4">
                <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/50x50" alt="">
                <div class="media-body">
                    <h5 class="mt-0">Commenter Name</h5>
                    Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras
                    purus
                    odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate
                    fringilla. Donec lacinia congue felis in faucibus.
                </div>
            </div>
        </div>
    </div>
</div>
{% endif %} <!-- if current_user.is_authenticated -->
{% endblock content %}