<head>

    <link href="/static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/signup.css' )}}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/clean-blog.css' )}}" rel="stylesheet">
    {% with messages = get_flashed_messages(with_categories = true) %}
    {% if messages %}
        {% for category, message in messages%}
            <div class="alert alert-{{ category }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}
    {% endwith %}

</head>
<body>
<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
    <div class="container">
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('blog') }}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('about') }}">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('index') }}">Resume</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="container">
    <div class="row">
        <div class="col-lg-10 col-xl-9 mx-auto">
            <div class="card flex-row my-5">
                <div class="card-img-left d-none d-md-flex">
                </div>
                <div class="card-body">
                    <h5 class="card-title text-center">Register</h5>
                    <form class="form-signin" method="POST" action="">
                        {{ form.hidden_tag() }}
                        <div class="form-label-group">
                            {% if form.username.errors %}
                            {{ form.username(class_="form-control is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.username.errors %}
                                <span> {{ error }} </span>
                                {% endfor %}
                            </div>
                            {% else %}
                            {{ form.username(class_="form-control", autofocus=true, placeholder="Username") }}
                            {% endif %}
                            {{ form.username.label() }}
                        </div>
                        <div class="form-label-group">
                            {% if form.email.errors %}
                            {{ form.email(class_="form-control is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.email.errors %}
                                <span> {{ error }} </span>
                                {% endfor %}
                            </div>
                            {% else %}
                            {{ form.email(class_="form-control", autofocus=true, placeholder="Email") }}
                            {% endif %}
                            {{ form.email.label(class="form-control-label") }}
                        </div>
                        <hr>
                        <div class="form-label-group">
                            {% if form.password.errors %}
                            {{ form.password(class_="form-control is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.password.errors %}
                                <span> {{ error }} </span>
                                {% endfor %}
                            </div>
                            {% else %}
                            {{ form.password(class_="form-control", autofocus=true, placeholder="Password") }}
                            {% endif %}
                            {{ form.password.label(class="form-control-label") }}
                        </div>
                        <div class="form-label-group">
                            {% if form.confirm_password.errors %}
                            {{ form.confirm_password(class_="form-control is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.confirm_password.errors %}
                                <span> {{ error }} </span>
                                {% endfor %}
                            </div>
                            {% else %}
                            {{ form.confirm_password(class_="form-control", autofocus=true, placeholder="Confirm
                            Password") }}
                            {% endif %}
                            {{ form.confirm_password.label(class="form-control-label") }}
                        </div>
                        {{ form.submit_register(class="btn btn-lg btn-primary btn-block text-uppercase") }}
                        <a class="d-block text-center mt-2 small" href="#" data-toggle="modal"
                           data-target="#login-modal">
                            Already registered?
                        </a>
                        <hr class="my-4">
                        <button class="btn btn-lg btn-google btn-block text-uppercase" type="submit"><i
                                class="fab fa-google mr-2"></i> Sign up with Google
                        </button>
                        <button class="btn btn-lg btn-facebook btn-block text-uppercase" type="submit"><i
                                class="fab fa-facebook-f mr-2"></i> Sign up with Facebook
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="login-modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Sign in to post</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form method="POST" action="">
                    {{ loginform.hidden_tag() }}
                    <div class="form-group">
                        {% if loginform.email.errors %}
                        {{ loginform.email(class_="form-control is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in loginform.email.errors %}
                            <span> {{ error }} </span>
                            {% endfor %}
                        </div>
                        {% else %}
                        {{ loginform.email(class_="form-control", autofocus=true) }}
                        {% endif %}
                        {{ loginform.email.label() }}
                    </div>
                    <div class="form-group">
                        {% if loginform.password.errors %}
                        {{ loginform.password(class_="form-control is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in loginform.password.errors %}
                            <span> {{ error }} </span>
                            {% endfor %}
                        </div>
                        {% else %}
                        {{ loginform.password(class_="form-control", autofocus=true) }}
                        {% endif %}
                        {{ loginform.password.label() }}
                    </div>
                    <div class="modal-footer">
                        <small class="mr-auto">
                            <a href="/forgotpassword">
                                Forgot Password?
                            </a>
                        </small>
                        {{ loginform.submit(class="btn btn-primary") }}
                        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Bootstrap core JavaScript -->
<script src="/static/vendor/jquery/jquery.min.js"></script>
<script src="/static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<!-- Plugin JavaScript -->
<script src="/static/vendor/jquery-easing/jquery.easing.min.js"></script>
<!-- Custom scripts for this template -->
<script src="/static/js/resume.min.js"></script>

</body>